*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}
button {
  font: inherit;
}
p,
h2 {
  overflow-wrap: break-word;
}
body {
  background-color: #f2ebe3;
  padding-bottom: -2.5rem;
}
.attribution {
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: "Monsterrat", sans-serif;
  font-size: 11px;
  color: #1c232b;
}
.attribution>a {
  text-decoration: none;
  color: #3c8067;
}
.attribution>a:hover {
  color: #1b4133;
}
.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 343px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.desktop-img {
  display: none;
}
.mobile-img {
  display: block;
}
.card-details {
  padding: 24px;
}
.overline,
.product-desc,
.og-price {
  font-family: "Monsterrat", sans-serif;
  color: #6c7289;
}
.overline {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 15px;
}
.product-name {
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #1c232b;
}
.product-desc {
  line-height: 23px;
}
.product-price {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 20px;
}
.product-price>.sale-price {
  margin-right: 20px;
}
.sale-price {
  font-family: "Fraunces", serif;
  color: #3c8067;
  font-size: 32px;
}
.og-price {
  text-decoration: line-through;
}
button {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3c8067;
  color: #fff;
  font-family: "Monsterrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}
button:hover {
  background-color: #1b4133;
}
.btn-icon {
  margin-right: 12px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .card {
    width: 625px;
    display: flex;
  }
  .card-img {
    width: 50%;
  }
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
  .card-details {
    width: 50%;
    padding: 32px;
  }
  .product-name {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .product-price {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
