// variables
// colors
dark-cyan = hsl(158, 36%, 37%)
cream = hsl(30, 38%, 92%)
very-dark-cyan = hsl(212, 21%, 14%)
gray-blue = hsl(228, 12%, 48%)

// font sizing
md-weight = 500
bold-weight = 700

xl-text = 32px
lg-text = 14px
md-text = 13px
sm-text = 12px

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  -webkit-font-smoothing antialiased

img
  max-width 100%

button
  font inherit

p
h2
  overflow-wrap break-word
