// variables
// colors
dark-cyan = hsl(158, 36%, 37%)
cream = hsl(30, 38%, 92%)
very-dark-cyan = hsl(212, 21%, 14%)
gray-blue = hsl(228, 12%, 48%)

// font sizing
md-weight = 500
bold-weight = 700

xl-text = 32px
lg-text = 14px
md-text = 13px
sm-text = 12px

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  -webkit-font-smoothing antialiased

img
  max-width 100%

button
  font inherit

p
h2
  overflow-wrap break-word

// global styles
body
  background-color cream
  padding-bottom -2.5rem

.attribution
  height 2.5rem
  position absolute
  bottom 0
  width 100%
  text-align center
  vertical-align middle
  font-family "Monsterrat", sans-serif
  font-size 11px
  color very-dark-cyan
  &>a
    text-decoration none
    color dark-cyan
    &:hover
      color hsl(158, 42%, 18%)

// card styles
.card
  position absolute
  left 50%
  top 50%
  -webkit-transform translate(-50%, -50%)
  transform translate(-50%, -50%)
  width 343px
  background-color white
  border-radius 10px
  overflow hidden

.desktop-img
  display none

.mobile-img
  display block

.card-details
  padding 24px

.overline
.product-desc
.og-price
  font-family "Monsterrat", sans-serif
  color gray-blue

.overline
  text-transform uppercase
  letter-spacing 5px
  line-height 15px

.product-name
  margin-top 12px
  margin-bottom 16px
  font-family "Fraunces", serif
  font-size xl-text
  font-weight 700
  line-height 32px
  color very-dark-cyan

.product-desc
  line-height 23px

.product-price
  display flex
  align-items center
  margin-top 24px
  margin-bottom 20px
  &>.sale-price
    margin-right 20px

.sale-price
  font-family "Fraunces", serif
  color dark-cyan
  font-size xl-text

.og-price
  text-decoration line-through

button
  width 100%
  border none
  border-radius 8px
  padding-top 15px
  padding-bottom 15px
  background-color dark-cyan
  color white
  font-family "Monsterrat", sans-serif
  font-weight 700
  font-size md-text
  line-height 23px
  &:hover
    background-color hsl(158, 42%, 18%)

.btn-icon
  margin-right 12px
  vertical-align middle

// MEDIA QUERIES
// tablet or larger
@media screen and (min-width: 768px)
  .card
    width 625px
    display flex

  .card-img
    width 50%

  .desktop-img
    display block

  .mobile-img
    display none

  .card-details
    width 50%
    padding 32px

  .product-name
    margin-top 20px
    margin-bottom 24px

  .product-price
    margin-top 30px
    margin-bottom 30px
